/*首页专用样式 - 只用于首页的特殊样式*/


/*主体部分排版*/
.main-container 
{
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 3.7em;
    z-index: 0;
}
/*顶栏*/
.header
{
    display: flex;
    margin: 0px;
    padding: 0;
    height: 4em;
    width: 100%;
    background-color: #ebecde;
}
/*正文*/
.main-body
{
    display: flex;
    flex: 1;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", "Noto Sans", "Noto Sans CJK SC", "Noto Sans CJK", "Source Han Sans", "PingFang SC", "Segoe UI", "Microsoft YaHei", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .75);
    background-color: #ffffef;
}
/*底栏*/
.footer
{
    display: flex;
    bottom: 0;
    margin: 0;
    padding: 0;
    height: 10em;
    width: 100%;
    background-color: #ebecde;
}

/*左侧导航栏*/
.leftSidebar
{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 60px;
    background-color: #C6CCFF;
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);/*导航栏伸缩欢动*/
    overflow: hidden;
    z-index: 5;
}

.leftSidebar:hover
{
    width: 240px;
}

.nav-ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

.nav-innerbox/*导航栏内部分块*/
{
    margin: 0;
    padding: 0;
    width: 240px;
    height: 60px;
}

.nav-innerbox:hover
{
    background-color: #cfd4f7;
}

.nav-logo/*导航图标属性*/
{
    width: 100px;
    height: 60px;
}